services:
  nocodb:
    image: nocodb/nocodb:0.264.6
    container_name: ${CONTAINER_NAME}
    restart: always
    networks:
      - 1panel-network
    ports:
      - ${PANEL_APP_PORT_HTTP}:8080
    volumes:
      - ./data:/usr/app/data
    labels:
      createdBy: Apps
networks:
  1panel-network:
    external: true
